{% extends 'gson_generator/base.html' %}

{% block content %}
<h1>Generate Your Own Thomas G:Son Lyrics!</h1>

<div class="row">
    <div class="col-4">
    <figure class="figure">
        <img src="{{ url_for('static', filename='gson_hair.gif') }}" class="figure-img img-fluid align-self-start mr-3"
             alt="GIF of Thomas G:Son with wind blowing through his hair">
        <figcaption class="figure-caption">GIF of Thomas G:Son with wind blowing through his hair</figcaption>
    </figure>
        </div>

    <div class="col-8">
        <p>Are you composing the next Eurovision banger but getting stuck with the lyrics? Let superstar songwriter (and
            Melodifestivalen fixture) Thomas G:Son inspire you! Just hit the big blue button below and lyrics to an
            instant hit
            inspired by existing G:Son songs will be generated for you.</p>
        <p>Feel free to <a href="{{ url_for('list_generated_lyrics') }}">explore other masterpieces</a> created by other
            visitors to this page for more
            inspiration. Who knows, maybe you too will compose a song performed on the Eurovision stage (or at least at
            the auditions for Belarus or Moldova)!</p>
        <p>This project was created in Flask by <a href="http://www.twitter.com/hyperren" target="_blank">Ren Robles</a>
            aka <a
                    href="http://www.twitter.com/eurenvision" target="_blank">eurenvision</a>.</p>
        <p>This is done purely out of fun and is not meant to mock or disparage Thomas G:Son (I personally like a lot of
            songs he's written)!</p>
    </div>
</div>


<form method="POST" action="{{ url_for('generate_lyrics') }}">
    <input type="submit" value="Generate!" class="btn btn-primary btn-lg btn-block mb-3">
</form>
{% endblock %}